<%- include ../adminlayouts/header.ejs %>
<section>
    <div class="background-image-maker gradient gradient-lr"></div>
    <div class="holder-image">
        <img src="/images/bg2.jpg" alt="" class="img-fluid d-none" />
    </div>
    <div class="black-overlay overlay-full"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 justify-content-center text-center">
                <h1 class="text-white c-font-weight-700" id="carNameh1"> 
                    <%= locals.data[0].make %><br>(<%= locals.data[0].model %>)
                        </h1>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="py-0 h-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-5 col-lg-3 text-center">
                <ol class="breadcrumb justify-content-center mb-0 c-bg-primary text-white py-3 position-relative">
                    <li class="breadcrumb-item"><a href="https://sellbuymotors.co.uk">Home</a></li>
                    <li class="breadcrumb-item active">Car Listing</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-8 mb-4 mb-lg-0">
                <div class="car-listing">
                    <div style="text-align:left !important; padding:0px !important;" class="col-12 col-sm-12 justify-content-center text-center">
                        <h1 class="c-font-weight-700" id="carNameh1"> 
                             <%= locals.data[0].make %> (<%= locals.data[0].model %>)
                        </h1>
                    </div>
                    <div class="flexslider c-bg-dark mb-4">
                        <ul class="slides" id="imageList">
                             <% if (locals.data) {%>
                            <% locals.data.forEach(function(cl){%>
                            <li class="position-relative"  data-thumb="/uploads/<%= cl.image_name  %>"><img src="/uploads/<%= cl.image_name  %>" alt="" class="img-fluid" /></li>
                            <% }) %>
                            <% } %>
                            <!--                            <?php
                                                        $thumbs = $page->data->thumbs;
                                                        foreach ($thumbs as $thumb) {
                                                            echo $thumb->thumb;
                                                            $t = str_replace("w92h69pe8e8e3", "w720h540pe8e8e3", $thumb->thumb);
                                                            echo '<li class="position-relative"  data-thumb="' . $t . '"><img src="' . $t . '" alt="" class="img-fluid" /></li>';
                                                        }
                                                        ?>-->

                        </ul>
                    </div>
                    <div class="c-bg-dark rounded-top">
                        <ul class="nav nav-tabs border-0 flex-column flex-sm-row text-white" id="myTab" role="tablist">
                            <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#desc1" role="tab" aria-expanded="true">DESCRIPTION</a></li>
                         
                            <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#" role="tab" aria-expanded="true"><%= locals.data[0].car_description %></a></li>
                          
                            <!--                            <?php
                                                        foreach ($page->data->details as $key => $d) {
                                                        $divId = str_replace(" ", "_", $d->detail_heading);
                                                        echo'<li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#li' . $key . '" role="tab" aria-expanded="true">' . $d->detail_heading . '</a></li>';
                                                        }
                                                        ?>-->

                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade active in show" id="desc1" role="tabpanel" aria-expanded="true">
                            <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5"><p><%= data.desc %></p>
                                </div>
                            </div>
                        </div>
                  

                        <div class="tab-pane fade" id="" role="tabpanel" aria-expanded="true">
                            <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5"><p><%= locals.data[0].car_description %></p>
                                     </div>
                                 </div>
                             </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card c-brd-light mb-4">
                    <div class="card-body">
                        <!-- <h3 id="CarName"> <%= data.seller %></h3> -->
                        <!--<h4 id="CarName1111"> <?php // echo $page->data->title; ?></h4>-->
                        <ul class="list-unstyled c-line-height-2_5 mb-0 mobileli1">

                            <li><small class="c-light">Price</small> <h4 class="d-inline-block mb-1" id="CarPrice">£ <%= locals.data[0].price_expectation %></h4></li>

                          <!--   <li><small class="c-light">Phone</small> 
                                <h4 class="d-inline-block mb-1" id="phoneNumber"> <%= data.phones %>
                                    <%= data.phone2 %>
                                </h4>
                            </li>  -->     
                        </ul>
                        <ul class="list-group">
                            
                             <li class="list-group-item"><%= locals.data[0].make_year %></li> 
                             <li class="list-group-item"><%= locals.data[0].body_type %></li>
                             <li class="list-group-item"><%= locals.data[0].mileage %></li>
                             <li class="list-group-item"><%= locals.data[0].engine_size %></li>
                             <li class="list-group-item"><%= locals.data[0].gear_box %></li>
                             <li class="list-group-item"><%= locals.data[0].fuel_type %></li>
                             <li class="list-group-item"><%= locals.data[0].doors %></li>
                             <li class="list-group-item"><%= locals.data[0].seats %></li>
                           
<!--                            <?php
                            foreach ($page->data->overview as $feature) {
                            echo'<li class="list-group-item">' . $feature->view . '</span></li> ';
                            }
                            ?>-->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<%- include ../adminlayouts/footer.ejs %> 
