<%- include ../sellbuylayouts/header.ejs %>
 <style>
    ul{
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }
table {
 /*font-family: arial, sans-serif;*/
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}
    .demo .item{
        margin-bottom: 60px;
    }
    .content-slider li{
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }
    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }
    .demo{
        width: 800px;
    }
    ul#image-gallery img {
    width: 100%;
    height: auto;
}
.detaild {
    background: #fff0;
}   
.c-brd-light {
    border-color: #fff0 !important;
}
.fpaSpecificationslist--col1 {
    color: #fff;
}
.fpaSpecificationslistItem {
    color: #fff;
}
a.tracking-motoring-products-link.vehicleLeaderinsuranceLink {
    display: none;
}
ul.fpa-features-list li {
    color: #fff;
}
</style>

<section>
    <div class="background-image-maker gradient gradient-lr"></div>
    <div class="holder-image">
        <img src="/images/bg2.jpg" alt="" class="img-fluid d-none" />
    </div>
    <div class="black-overlay overlay-full"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 justify-content-center text-center">
                <h1 class="text-white c-font-weight-700" id="carNameh1"> 
                   <%= locals.data[0].make %><br>(<%= locals.data[0].model %>)
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="py-0 h-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-5 col-lg-3 text-center">
                <ol class="breadcrumb justify-content-center mb-0 c-bg-primary text-white py-3 position-relative">
                    <li class="breadcrumb-item"><a href="https://sellbuymotors.co.uk">Home</a></li>
                    <li class="breadcrumb-item active">Car Listing</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">

        <div class="row">
          

            <div class="col-12 col-lg-8 mb-4 mb-lg-0">
                <div class="car-listing">
                    <div style="text-align:left !important; padding:0px !important;" class="col-12 col-sm-12 justify-content-center text-center">
                       <!--  <h1 class="c-font-weight-700" id="carNameh1" style="color: #fff;"> 
                             <%= locals.data[0].make %> (<%= locals.data[0].model %>)
                        </h1> -->
                    </div>
                      <div class="demo">
                        <div class="item">            
                            <div class="clearfix">
                                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                    <% if (locals.data) { %>
                                    <% locals.data.forEach(function(cl){%>
                                    <li data-thumb="/uploads/<%= cl.image_name  %>"> 
                                        <img src="/uploads/<%= cl.image_name  %>" />
                                     </li>
                                     <% }) %>
                                     <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>  
                    <div class="c-bg-dark rounded-top">
                        <ul class="nav nav-tabs border-0 flex-column flex-sm-row text-white" id="myTab" role="tablist">
                            <li class="nav-item mb-0 rounded-left "><a class="nav-link redial-light border-0 py-3 active" data-toggle="tab" href="#desc1" role="tab" aria-expanded="true">DESCRIPTION</a></li>
                            <!-- <li class="nav-item mb-0 rounded-left "><a class="nav-link redial-light border-0 py-3 " data-toggle="tab" href="#comes" role="tab" aria-expanded="true">This car comes with</a></li> -->
                             
                            <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#carcomes" role="tab" aria-expanded="true">This car comes with</a></li>
                             <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#ecomy" role="tab" aria-expanded="true">Economy & performance</a></li>
                              <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#driver" role="tab" aria-expanded="true">Driver Convenience</a></li>
                               <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#safety" role="tab" aria-expanded="true">Safety</a></li>
                               <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#extre" role="tab" aria-expanded="true">Exterior Features</a></li>
                                 <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#intre" role="tab" aria-expanded="true">Interior Features</a></li>
                                  <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#technical" role="tab" aria-expanded="true">Technical</a></li>
                                  <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#dimension" role="tab" aria-expanded="true">Dimensions</a></li>
                           
                            <!--                            <?php
                                                        foreach ($page->data->details as $key => $d) {
                                                        $divId = str_replace(" ", "_", $d->detail_heading);
                                                        echo'<li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#li' . $key . '" role="tab" aria-expanded="true">' . $d->detail_heading . '</a></li>';
                                                        }
                                                        ?>-->

                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade active in show" id="desc1" role="tabpanel" aria-expanded="true">
                            <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5"><p><%= locals.data[0].car_description %></p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="carcomes" role="tabpanel" aria-expanded="true">
                            <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5"><p><%var str = locals.data[0].car_comes%>
                                                                 <%var re = str.split(",");%>
                                                                    <%if (re) {%>
                                                                     <%var i=0 %>
                                                                  <%re.forEach(function(){%>
                                                                              <%= re[i++]%><br>
                                                                    <%})%>
                                                                     <%}%>           
                                                               </p>
                                     </div>                     
                                 </div>
                             </div>
                             <div class="tab-pane fade" id="ecomy" role="tabpanel" aria-expanded="true">
                            <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5">
                                   <div style="overflow-x:auto;">
                                  <table>

                                      <tr>
                                        <td>Urban mpg</td>
                                        <td>No Data Available</td>
                                        <td>Extra Urban mpg</td>
                                         <td>No Data Available</td>

                                      </tr>
                                      
                                      <tr>
                                        <td>Average mpg</td>
                                         <td>No Data Available</td>
                                        <td>CO2 emissions</td>
                                         <td><%var str = locals.data[0].co2_emission%>
                                            <%= str.replace('&#x2F;','/')%></td>

                                      </tr>
                                      <tr>
                                        <td>Annual Tax</td>
                                        <td><%= locals.data[0].annual_tax %></td>
                                        <td>Engine power</td>
                                        <td>No Data Available</td>

                                      </tr>
                                      <tr>
                                        <td>Engine Size</td>
                                        <td><%= locals.data[0].engine_size %></td>
                                      <td>Brochure Engine size</td>
                                     <td>No Data Available</td> 

                                   </tr> 
                                      <tr>
                                        <td>Acceleration</td>
                                        <td><%= locals.data[0].acceleration%></td>
                                         <td>Engine Size</td>
                                        <td><%= locals.data[0].engine_size%></td>

                                      </tr>
                                      <tr>
                                        <td>Drivetrain</td>
                                        <td><%= locals.data[0].drive_train%></td>
                                        <td>Top speed</td>
                                        <td>No Data Available</td>

                                      </tr>
                                    </table>
                                    </div>
                                    </div>
                                    </div>


                                     </div>
                                     
                              
                              <div class="tab-pane fade" id="driver" role="tabpanel" aria-expanded="true">
                              <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5">
                                     <div style="overflow-x:auto;">
                                  <table>

                                      <tr>
                                        
                                        <td><%var str = locals.data[0].driver_convenience%>
                                             <%var re = str.split(",");%>
                                               <%if (re) {%>
                                               <%var i=0%>
                                               <%re.forEach(function(){%>
                                                <%= re[i++]%><br>
                                                 <%})%>
                                                  <%}%>           
                                                 </td>
                                      
                                       
                                      </tr>
                                      
                                     
                                    </table>
                                    </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="tab-pane fade" id="safety" role="tabpanel" aria-expanded="true">
                              <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5">
                                     <div style="overflow-x:auto;">
                                  <table>

                                      <tr>
                                        <td><%var str = locals.data[0].safety%>
                                            <%var re = str.split(",");%>
                                               <%if (re) {%>
                                               <%var i=0%>
                                               <%re.forEach(function(){%>
                                                <%= re[i++]%><br>
                                                 <%})%>
                                                  <%}%>  </td>
                                      </tr>
                                      
                                     
                                    </table>
                                    </div>
                                     </div>
                                 </div>
                             </div>
                              <div class="tab-pane fade" id="extre" role="tabpanel" aria-expanded="true">
                              <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5">

                                     <div style="overflow-x:auto;">
                                  <table>

                                      <tr>
                                        <td><%var str = locals.data[0].exterior_feat%>
                                             <%var re = str.split(",");%>
                                               <%if (re) {%>
                                               <%var i=0%>
                                               <%re.forEach(function(){%>
                                                <%= re[i++]%><br>
                                                 <%})%>
                                                  <%}%>  </td>
                                      </tr>
                                      
                                     
                                    </table>
                                    </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="tab-pane fade" id="intre" role="tabpanel" aria-expanded="true">
                              <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5">

                                      <div style="overflow-x:auto;">
                                  <table>

                                      <tr>
                                        <td><%var str = locals.data[0].interior_feat%>
                                             <%var re = str.split(",");%>
                                               <%if (re) {%>
                                               <%var i=0;%>
                                               <%re.forEach(function(){%>
                                                <%= re[i++]%><br>
                                                 <%})%>
                                                  <%}%>  </td>
                                      </tr>
                                      
                                     
                                    </table>
                                    </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="tab-pane fade" id="technical" role="tabpanel" aria-expanded="true">
                              <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5">
                                     <div style="overflow-x:auto;">
                                  <table>

                                      <tr>
                                        <td><%var str = locals.data[0].technical%>
                                             <%var re = str.split(",");%>
                                               <%if (re) { %>
                                               <% var i=0  %>
                                               <% re.forEach(function(){%>
                                                <%= re[i++]  %><br>
                                                 <% }) %>
                                                  <% } %>  </td>
                                      </tr>
                                      
                                     
                                    </table>
                                    </div>
                                     </div>
                                 </div>
                             </div>
                              <div class="tab-pane fade" id="dimension" role="tabpanel" aria-expanded="true">
                              <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5">
                                     <div style="overflow-x:auto;">
                            <table>
                            <tr>
                            <td>Height</td>
                            <td><% if(locals.data[0].height == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].height %>  <% } %></td>

                            <td>Height (inc. roof rails)</td>
             <td><%if (locals.data[0].height_roof == ''){%><%= 'No Detail Available'%><%}else{%><%= locals.data[0].height_roof %><%}%></td>
                            </tr>
                            <tr>
                            <td>Length</td>
                            <td><% if(locals.data[0].length == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].length %><% } %></td>
                            <td>Wheelbase</td>
                            <td><% if(locals.data[0].wheel_base == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].wheel_base %>  <% } %></td>
                            </tr>
                            <tr>
                            <td>Width</td>
                            <td><% if(locals.data[0].width == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].width %> <% } %></td>
                            <td>Width (inc. mirrors)</td>
                            <td><% if(locals.data[0].width_with_mirror == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].width_with_mirror %><% } %></td>
                            </tr>
                            <tr>
                            <td>Fuel tank capacity</td>
                            <td><% if(locals.data[0].tank_capacity == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].tank_capacity %> <% } %></td>
                            <td>Gross vehicle weight</td>
                            <td><% if(locals.data[0].vehicle_weight == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].vehicle_weight %> <% } %></td>
                            </tr>
                            <tr>
                            <td>Luggage capacity (seats up)</td>
                            <td><% if(locals.data[0].luggage_capacity_up == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].luggage_capacity_up %> <% } %></td>
                            <td>Luggage capacity (seats down)</td>
                             <td><% if(locals.data[0].luggage_capacity_down == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].luggage_capacity_down %> <% } %></td>
                            </tr>
                            <tr>
                            <td>Max loading weight</td>
                            <td><% if(locals.data[0].max_loading_weight == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].max_loading_weight %> <% } %></td>
                            <td>Max roof load</td>
                            <td><% if(locals.data[0].max_roof_load == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].max_roof_load %> <% } %></td>
                            </tr>
                            <tr>
                            <td>Max towing weight (braked)</td>
                            <td><% if(locals.data[0].towing_weight_braked == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].towing_weight_braked %> <% } %></td>
                            <td>Max towing weight (not braked)</td>
                            <td><% if(locals.data[0].towing_weight == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].towing_weight %> <% } %></td>
                            </tr>
                            <tr>
                            <td>Minimum kerb weight</td>
                            <td><% if(locals.data[0].min_kreb_weight == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].min_kreb_weight %> <% } %></td></td>
                            <td>Turning circle</td>
                             <td><% if(locals.data[0].turning_circle == ''){ %><%= 'No Detail Available' %><% }else{ %><%= locals.data[0].turning_circle %> <% } %></td>
                            </tr>
                            </table>
                            </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card c-brd-light mb-4">
                    <div class="card-body">
                        <!-- <h3 id="CarName"> <%= data.seller %></h3> -->
                        <!-- <h4 id="CarName1111"> <%= data.title %></h4> -->
                        <ul class="list-unstyled c-line-height-2_5 mb-0 mobileli1">
                            <li><small class="c-light"><img src="/ProfilePictures/<%= locals.data[0].profile_image %>" width="30%" /></li>
                             <li> <h4 class="d-inline-block mb-1" id="CarPrice"><%= locals.data[0].user_name %></h4></li>
                              <li><h4 class="d-inline-block mb-1" id="CarPrice"><%= locals.data[0].dealer %></h4></li>
                              <li><h4 class="d-inline-block mb-1" id="CarPrice"><%= locals.data[0].email %></h4></li>
                               <li> <h4 class="d-inline-block mb-1" id="CarPrice"><%= locals.data[0].phone %></h4></li>
                                <li><h4  class="d-inline-block mb-1" id="CarPrice">
                                    <a href="<% if(locals.data[0].web == null){ %><%= '' %><% }else{%>//<%= locals.data[0].web.substring(0, 100) %><% } %>
                                        "><%= locals.data[0].web %></a></h4></li>

                            <li><small class="c-light">Price</small> <h4 class="d-inline-block mb-1" id="CarPrice"> £ <%= locals.data[0].price_expectation %></h4></li>

                            <!-- <li><small class="c-light">Phone</small> 
                                <h4 class="d-inline-block mb-1" id="phoneNumber"> <%= data.phones %>
                                    <%= data.phone2 %>
                                </h4>
                            </li>  -->     
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item"><%= locals.data[0].make_year %></li> 
                             <li class="list-group-item"><%= locals.data[0].body_type %></li>
                             <li class="list-group-item"><%= locals.data[0].mileage %></li>
                             <li class="list-group-item"><%= locals.data[0].engine_size %></li>
                             <li class="list-group-item"><%= locals.data[0].gear_box %></li>
                             <li class="list-group-item"><%var str = locals.data[0].fuel_type%><%= str.replace('&#x2F;','/')%></li>
                             <li class="list-group-item"><%= locals.data[0].doors %></li>
                             <li class="list-group-item"><%= locals.data[0].seats %></li>
<!--                            <?php
                            foreach ($page->data->overview as $feature) {
                            echo'<li class="list-group-item">' . $feature->view . '</span></li> ';
                            }
                            ?>-->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<%- include ../sellbuylayouts/footer.ejs %> 
  <script>
         $(document).ready(function() {
            $("#content-slider").lightSlider({
                loop:true,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:9,
                slideMargin: 0,
                speed:500,
                auto:true,
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }  
            });
        });
          $('#myTabContent2').find('.detaild').each(function(){
            $(this).html($(this).text())
         })

           function website(){
        
        window.location.href = "../../<%= locals.data[0].web %>";
  
     }
    </script>
