<%- include ../sellbuylayouts/header.ejs %>
 <style>
    ul{
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }
    .demo .item{
        margin-bottom: 60px;
    }
    .content-slider li{
        background-color: #ed3020;
        text-align: center;
        color: #FFF;
    }
    .content-slider h3 {
        margin: 0;
        padding: 70px 0;
    }
    .demo{
        width: 800px;
    }
    ul#image-gallery img {
    width: 100%;
    height: auto;
}
.detaild {
    background: #fff0;
}   
.c-brd-light {
    border-color: #fff0 !important;
}
.fpaSpecificationslist--col1 {
    color: #fff;
}
.fpaSpecificationslistItem {
    color: #fff;
}
a.tracking-motoring-products-link.vehicleLeaderinsuranceLink {
    display: none;
}
ul.fpa-features-list li {
    color: #fff;
}
</style>

<section>
    <div class="background-image-maker gradient gradient-lr"></div>
    <div class="holder-image">
        <img src="/images/bg2.jpg" alt="" class="img-fluid d-none" />
    </div>
    <div class="black-overlay overlay-full"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 justify-content-center text-center">
                <h1 class="text-white c-font-weight-700" id="carNameh1"> 
                    <%= data.title %>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="py-0 h-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-5 col-lg-3 text-center">
                <ol class="breadcrumb justify-content-center mb-0 c-bg-primary text-white py-3 position-relative">
                    <li class="breadcrumb-item"><a href="https://sellbuymotors.co.uk">Home</a></li>
                    <li class="breadcrumb-item active">Car Listing</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">

        <div class="row">
          

            <div class="col-12 col-lg-8 mb-4 mb-lg-0">
                <div class="car-listing">
                    <div style="text-align:left !important; padding:0px !important;" class="col-12 col-sm-12 justify-content-center text-center">
                        <h1 class="c-font-weight-700" id="carNameh1" style="color: #fff;"> 
                            <%= data.title %>
                        </h1>
                    </div>
                      <div class="demo">
                        <div class="item">            
                            <div class="clearfix">
                                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                    <% locals.data.thumbs.forEach(function(cl){ 
                                            %>  
                                    <li data-thumb="<%= cl.thumb %>"> 
                                        <img src="<%= cl.thumb %>" />
                                     </li>
                                     <% }) %>
                                </ul>
                            </div>
                        </div>
                    </div>  
                    <div class="c-bg-dark rounded-top">
                        <ul class="nav nav-tabs border-0 flex-column flex-sm-row text-white" id="myTab" role="tablist">
                            <li class="nav-item mb-0 rounded-left "><a class="nav-link redial-light border-0 py-3 active" data-toggle="tab" href="#desc1" role="tab" aria-expanded="true">DESCRIPTION</a></li>
                            <% locals.data.details.forEach(function(cl,index){ 
                            %>  
                            <li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#li<%= index %>" role="tab" aria-expanded="true"><%= cl.detail_heading %></a></li>
                            <% }) %>
                            <!--                            <?php
                                                        foreach ($page->data->details as $key => $d) {
                                                        $divId = str_replace(" ", "_", $d->detail_heading);
                                                        echo'<li class="nav-item mb-0 rounded-left"><a class="nav-link redial-light border-0 py-3" data-toggle="tab" href="#li' . $key . '" role="tab" aria-expanded="true">' . $d->detail_heading . '</a></li>';
                                                        }
                                                        ?>-->

                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade active in show" id="desc1" role="tabpanel" aria-expanded="true">
                            <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5"><p><%= data.desc %></p>
                                </div>
                            </div>
                        </div>
                        <% locals.data.details.forEach(function(cl,index){ 
                        %>  

                        <div class="tab-pane fade" id="li<%= index %>" role="tabpanel" aria-expanded="true">
                            <div class="border c-brd-light border-top-0">
                                <div class="card-body pt-5 detaild"><p><%= cl.detail %></p>
                                     </div>
                                 </div>
                             </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card c-brd-light mb-4">
                    <div class="card-body">
                        <h3 id="CarName"> <%= data.seller %></h3>
                        <!--<h4 id="CarName1111"> <?php // echo $page->data->title; ?></h4>-->
                        <ul class="list-unstyled c-line-height-2_5 mb-0 mobileli1">
                            <li><small class="c-light">Price</small> <h4 class="d-inline-block mb-1" id="CarPrice"> <%= data.price %></h4></li>

                            <li><small class="c-light">Phone</small> 
                                <h4 class="d-inline-block mb-1" id="phoneNumber"> <%= data.phones %>
                                    <%= data.phone2 %>
                                </h4>
                            </li>      
                        </ul>
                        <ul class="list-group">
                            <% locals.data.overview.forEach(function(cl,index){ 
                             %>  
                             <li class="list-group-item"><%= cl.view %></li> 
                             <% }) %>
<!--                            <?php
                            foreach ($page->data->overview as $feature) {
                            echo'<li class="list-group-item">' . $feature->view . '</span></li> ';
                            }
                            ?>-->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<%- include ../sellbuylayouts/footer.ejs %> 
  <script>
         $(document).ready(function() {
            $("#content-slider").lightSlider({
                loop:true,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:9,
                slideMargin: 0,
                speed:500,
                auto:true,
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }  
            });
        });
          $('#myTabContent2').find('.detaild').each(function(){
            $(this).html($(this).text())
         })
    </script>
